.step-one {
  color: #272f38;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  form {
    margin: 0;
  }

  .row {
    margin: 0;
  }

  .col-sm-12,
  .col-sm-6 {
    padding-right: 0;
  }

  @include media-query-down(768px) {

    .row {
      margin-left: 0;
    }

    .col-sm-12,
    .col-sm-6 {
      padding: 0;
    }
  }

  //&__mySelf{
  //  display: block;
  //}
  //
  //&__other{
  //  display: none;
  //}

  &__deliver {
    max-width: px2rem(1050px);
    box-sizing: border-box;
    border-bottom: 1px solid #dadadc;
    margin: 0 auto;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(53px) 0 px2rem(35px) 0;
      float: left;

      @include media-query-down(768px) {
        width: 100%;
        padding: px2rem(30px) 0 px2rem(20px) 0;
        font-size: 16px;
        line-height: px2rem(26px);

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;
        }
      }

    }

    &--right {
      width: 60%;
      float: left;

      @include media-query-down(768px) {
        width: 100%;
        padding-bottom: px2rem(20px);
      }

      //@include media-query-between(768px,1440px){
      //  padding: 0 7.5px;
      //}
      //
      //@include media-query-up(1440px){
      //  padding: 0 15px;
      //}
    }

    .radio-group {
      height: px2rem(24px);
      padding-top: px2rem(63px);

      @include media-query-down(768px) {
        padding-top: 0;

      }

      .selected {
        .select-circle {
          div {
            background: #272f38;
          }
          @media screen and (-ms-high-contrast: black-on-white) {
            div {
              background: #333;
            }
          }
          @media screen and (-ms-high-contrast: active) {
            div {
              background: #272f38;
            }
          }
          @media screen and (-ms-high-contrast: white-on-black) {
            div {
              background: #fff;
            }
          }
        }
      }

      &__item {
        display: flex;
        align-items: center;
        float: left;
        padding-right: px2rem(26px);

        span {
          font-size: 16px;
          line-height: px2rem(20px);
        }

        .select-circle {
          width: px2rem(20px);
          height: px2rem(20px);
          border: 1px solid #a9acaf;
          background: #ffffff;
          box-sizing: border-box;
          border-radius: 50%;
          position: relative;
          display: inline-block;
          margin-right: px2rem(10px);

          div {
            position: absolute;
            width: px2rem(10px);
            height: px2rem(10px);
            background: #ffffff;
            border-radius: 50%;
            top: px2rem(4px);
            left: px2rem(4px);
          }
        }
      }
    }
  }

  &__recipient {
    max-width: px2rem(1050px);
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #dadadc;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(41px) 0 0 0;
      float: left;

      @include media-query-down(768px) {
        width: 100%;
        font-size: 16px;
        line-height: px2rem(26px);
        padding: px2rem(20px) 0;

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;
        }
      }
    }

    &--right {
      width: 60%;
      float: left;
      padding: px2rem(42px) 0 px2rem(20px);

      @include media-query-down(768px) {
        width: 100%;
        padding: 0 0 px2rem(10px);
      }

      .drop-select {
        width: 100%;
        position: relative;
      }
    }
  }

  &__addressEnglish {
    max-width: px2rem(1050px);
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #dadadc;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(41px) 0 0 0;
      float: left;

      span {
        span {
          font-size: 16px;
        }
      }

      @include media-query-down(768px) {
        width: 100%;
        font-size: 16px;
        line-height: px2rem(26px);
        padding: px2rem(20px) 0;

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;

          span {
            font-size: 14px;
          }
        }
      }

      .country-message-taiwan {
        line-height: 1.125rem;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        .icon-triangle-important {
          width: 1rem;
          height: 1rem;
          margin-right: .3125rem;
        }
        .message-body {
          flex: 1;
          .title {
            text-decoration: underline;
          }
          .content {
            text-align: justify;
          }
        }
      }
    }

    &--right {
      width: 60%;
      float: left;
      padding: px2rem(41px) 0 px2rem(30px);

      @include media-query-down(768px) {
        width: 100%;
        padding: 0 0 px2rem(16px);
      }

      .input-component__disable {
        width: 100%;
        position: relative;
        margin-bottom: px2rem(20px);

        input {
          width: 100%;
          height: px2rem(54px);
          padding-left: px2rem(20px);
          padding-top: px2rem(24px);
          border: 1px solid rgba(39, 47, 56, 0.2);
          outline: none;
          box-sizing: border-box;
          color: #272f38;
          font-size: 16px;
          background: #eeefef;
        }

        .placeholder {
          color: #676d73;
          font-size: 16px;
          line-height: px2rem(18px);
          position: absolute;
          top: px2rem(7px);
          left: px2rem(20px);
          transition: all 0.1s;
        }
      }

      .suggest {
        font-size: 14px;
        line-height: px2rem(21px);
      }
    }
  }

  &__addressLocal {
    max-width: px2rem(1050px);
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #dadadc;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(41px) 0 0 0;
      float: left;

      span {
        span {
          font-size: 16px;
        }
      }

      @include media-query-down(768px) {
        width: 100%;
        font-size: 16px;
        line-height: px2rem(26px);
        padding: px2rem(20px) 0;

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;

          span {
            font-size: 14px;
          }
        }
      }

      .country-message-taiwan {
        line-height: 1.125rem;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        .icon-triangle-important {
          width: 1rem;
          height: 1rem;
          margin-right: .3125rem;
        }
        .message-body {
          flex: 1;
          .title {
            text-decoration: underline;
          }
          .content {
            text-align: justify;
          }
        }
      }
    }

    &--right {
      width: 60%;
      float: left;
      padding: px2rem(40px) 0 px2rem(20px);

      @include media-query-down(768px) {
        width: 100%;
        padding: 0;
      }

      .input-component__disable {
        width: 100%;
        position: relative;
        margin-bottom: px2rem(20px);

        input {
          width: 100%;
          height: px2rem(54px);
          padding-left: px2rem(20px);
          padding-top: px2rem(24px);
          border: 1px solid rgba(39, 47, 56, 0.2);
          outline: none;
          box-sizing: border-box;
          color: #272f38;
          font-size: 16px;
          background: #eeefef;
        }

        .placeholder {
          color: #676d73;
          font-size: 16px;
          line-height: px2rem(18px);
          position: absolute;
          top: px2rem(7px);
          left: px2rem(20px);
          transition: all 0.1s;
        }
      }

    }
  }

  &__email {
    max-width: px2rem(1050px);
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #dadadc;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(41px) 0 0 0;
      float: left;

      @include media-query-down(768px) {
        width: 100%;
        font-size: 16px;
        line-height: px2rem(26px);
        padding: px2rem(13px) 0 px2rem(20px);

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;
        }
      }
    }

    &--right {
      width: 60%;
      float: left;
      padding: px2rem(42px) 0 px2rem(20px);

      @include media-query-down(768px) {
        width: 100%;
        padding: 0;
      }

    }
  }

  &__SMS {
    max-width: px2rem(1050px);
    margin: 0 auto;
    box-sizing: border-box;

    @include media-query-down(1080px) {
      margin: 0 px2rem(15px);
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      width: 40%;
      font-size: 24px;
      line-height: px2rem(39px);
      padding: px2rem(41px) 0 0 0;
      float: left;

      @include media-query-down(768px) {
        width: 100%;
        font-size: 16px;
        line-height: px2rem(26px);
        padding: px2rem(20px) 0;

        span {
          font-family: "OpenSans-SemiBold", "Arial", sans-serif;
        }
      }
    }

    &--right {
      width: 60%;
      float: left;
      padding: px2rem(42px) 0 px2rem(20px);

      @include media-query-down(768px) {
        width: 100%;
        padding: 0 0 px2rem(10px);
      }

    }
  }
}

// .J-overlayout{
//   background-color: #ffffff;
//   border-top: 4px solid #f9d420;
// }

.icon-step-close {
  width: px2rem(20px);
  height: px2rem(20px);
  float: right;
  margin: px2rem(12px) px2rem(16px) px2rem(6px) auto;
  cursor: pointer;
}

.step-content {
  width: 100%;
  float: right;

  p:first-child {
    padding: px2rem(23px) px2rem(20px) px2rem(26px);
    border-bottom: 1px solid #dadadc;
    color: #272f38;

    span:first-child {
      display: inline-block;
      width: px2rem(20px);
      height: px2rem(20px);
      margin-right: px2rem(10px);
      font-size: 14px;
      line-height: px2rem(20px);
      background: #facf00;
      text-align: center;
      border: 0px;
      box-sizing: border-box;
    }

    span:nth-child(2) {
      font-size: 16px;
      line-height: px2rem(22px);
    }
  }

  p {
    padding: px2rem(23px) px2rem(20px) px2rem(26px);
    border-bottom: 1px solid #dadadc;
    color: #7c8186;

    span:first-child {
      display: inline-block;
      width: px2rem(20px);
      height: px2rem(20px);
      margin-right: px2rem(10px);
      font-size: 14px;
      line-height: px2rem(16px);
      border: 2px solid rgba(39, 47, 56, 0.4);
      box-sizing: border-box;
      border-radius: 50%;
      text-align: center;
    }

    span:nth-child(2) {
      font-size: 16px;
      line-height: px2rem(22px);
    }
  }
}

.dropdown-group__checkOut {
  .errorBox {
    display: none;
    width: 100%;
    padding-top: px2rem(2px);
    margin-bottom: px2rem(-10px);

    .errorMes {
      width: 100%;
      display: flex;

      .icon-warning {
        width: px2rem(15px);
        height: px2rem(15px);
      }

      span {
        flex: 1;
        font-family: "OpenSans-SemiBold", "Arial", sans-serif;
        font-size: 14px;
        color: #e32020;
        line-height: px2rem(18px);
        padding-left: px2rem(10px);
      }
    }


  }

}