.home-product-card {
  padding-bottom: px2rem(50px);

  @include  media-query-between(768px,1280px){
      padding-bottom: px2rem(50px);
  }

  @include  media-query-down(768px){
      margin-right: 0;
      margin-left: 0;
  }

  h3{ 
      position: relative;
      padding-bottom: px2rem(45px);
      font-size: 24px;
      line-height: px2rem(39px);
      text-align: center;

      &:after{
          content: "";
          position: absolute; 
          bottom: px2rem(30px);
          left: 50%;
          height: 5px;
          width: px2rem(34px);
          transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          background: #facf04;
      }
  }

  &-content {
    padding: 0 px2rem(50px);

    @include  media-query-down(1280px){
        padding: 0 px2rem(65px);
    }

    @include media-query-down(768px){
        width: 100%;
        padding: 0;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        list-style: none;
        -webkit-overflow-scrolling: touch;
    }
  }

  .item-list {
    padding: 0 px2rem(15px);
    // height: 472px;
    // width: 294px !important;
    
    @include media-query-down(1280px) {
        padding: 0 px2rem(8px);
        // height: 300px;
        // width: 190px !important;
    }

    @include media-query-down(768px) {
        padding: 0 px2rem(10px);

        // height: 366px;
        // width: 244px !important;
        
        &:first-child {
            padding-left: px2rem(15px);
        }

        &:last-child {
            padding-right: px2rem(15px);
        }
    }
  }

  .product-card {
    position: relative;
    display: block;
    background-color: #f4f4f5;
    border: 1px solid  rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all .3s linear;
    width: 100%;
    overflow: hidden;

    @include media-query-down(768px) {
        min-width: px2rem(244px);
        width: px2rem(244px);
    }

    &:hover {
      @include media-query-up(1280px) {
        border: 1px solid #272f38;
        box-shadow: 2px 2px 5px #a3a3a8;
        transition: all .3s linear;
      }
    }

    .product-img {
      position: relative;
      background: #fff;
      overflow: hidden;
      padding-top: 66%;

      &-origin {
        display: block;
      }

      &-hover {
        display: none;
      }

      &-tag {
        position: absolute;
        top: px2rem(10px);
        left: px2rem(10px);
        z-index: 1;

        width: px2rem(52px);
        height: px2rem(52px);
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: px2rem(11px);
        line-height: px2rem(11px);
        color: #272f38; 

        border-radius: 50%;
        background-color: rgba(250, 207, 0);

        @include  media-query-down(768px){
          top: px2rem(5px);
          left: px2rem(5px);
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: contain;
      }
    }

    .product-description {
      padding: px2rem(30px) px2rem(20px) 0;
      min-height: px2rem(270px);
    
      @include  media-query-down(1280px){
        padding: px2rem(25px) px2rem(10px) 0;
        min-height: px2rem(230px);
      }

      @include  media-query-down(768px){
        padding: px2rem(25px) px2rem(10px) 0;
        min-height: px2rem(236px);
      }

      &-title {
        font-size: 16px;
        line-height: px2rem(15px);
        
        @include media-query-down(768px) {
          font-size: 14px;
        }
      }

      h5 {
        line-height: px2rem(15px);
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        @include media-query-down(1280px) {
          font-size: 12px;
        }

        @include media-query-down(768px) {
          font-size: 14px;
        }
      }

      &__p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;

        font-size: px2rem(20px);
        line-height: px2rem(24px);
        height: px2rem(48px);

        margin-top: px2rem(5px);

        @include media-query-down(1280px) {
          font-size: 14px;
          line-height: px2rem(17px);
          margin-bottom: px2rem(40px);
         height: px2rem(36px);
        }

        @include media-query-down(768px) {
          font-size: 16px;
          line-height: px2rem(20px);
          height: px2rem(40px);
        }
      }
      
    }

    .product-sale {
      width: 100%;
      position: absolute;
      bottom: 0;

      @include  media-query-up(768px){
        padding: 0 px2rem(20px) px2rem(18px) px2rem(20px);
      }

      @include  media-query-down(768px){
        padding: 0 px2rem(10px) px2rem(10px) px2rem(10px);
      }

      &-stock {
        font-size: px2rem(14px);
        color: #676d73;
        margin-bottom: 7px;

        @include media-query-down(768px) {
          font-size: px2rem(12px);
          margin-bottom: -3px;
        }
      }

      &-from {
        font-size: 12px;
        line-height: px2rem(20px);
        color: #272f38;
      }

      &-delete {
        display: flex;
        align-items: center;
        color: #676d73;
        line-height: px2rem(24px);

        @include media-query-down(768px){
          margin-bottom: px2rem(10px);
        }

        .icon-yellow {
          width: px2rem(10.8px);
          height: px2rem(13px);
          margin-right: 5px;

          @include media-query-down(1280px) {
            width: px2rem(8px);
            height: px2rem(9px);
          }

          @include media-query-down(768px) {
            width: px2rem(10px);
            height: px2rem(12px);
          }
        }

        .price {
          font-size: 18px;
          line-height: px2rem(24px);
          margin-right: px2rem(7px);

          @include media-query-down(1280px) {
            font-size: 12px;
            line-height: px2rem(15px);
          }

          @include media-query-down(768px) {
            font-size: 14px;
            line-height: 1;
          }
        }

        .price-per {
          font-size: 14px;
          line-height: 1.71;

          @include media-query-down(1280px) {
            font-size: 12px;
            line-height: px2rem(15px);
          }

          @include media-query-down(768px) {
            font-size: 14px;
            line-height: 1;
          }
        }
      }

      &-price {
        display: flex;
        align-items: center;
        color: #272f38;
        margin-bottom: px2rem(10px);

        @include media-query-down(768px) {
          margin-bottom: px2rem(5px);
        }

        @include media-query-down(768px) {
          margin-bottom: px2rem(8px);
        }

        .icon-yellow {
          width: px2rem(15px);
          height: px2rem(18px);
          margin-right: 4px;

          @include media-query-down(1280px) {
            width: px2rem(9px);
            height: px2rem(10px);
          }

          @include media-query-down(768px) {
            width: px2rem(16px);
            height: px2rem(20px);
          }
        }

        .price {
          font-size: 24px;
          line-height: 1.2;
          margin-right: 6px;

          @include media-query-down(1280px) {
            font-size: 14px;
           line-height: 15px;
          }

          @include media-query-down(768px) {
            font-size: 24px;
           line-height: 1.2;
          }
        }
        .price-per {
          font-size: 18px;
          align-self: flex-end;

          @include media-query-down(768px) {
            font-size: 14px;
          }
        }
        .currency {
          margin: 0 4px;
        }
      }

      &-earn-miles {
        display: flex;
        align-items: center;
        color: #272f38;
        margin-bottom: px2rem(10px);
        font-size: 12px;

        .icon-yellow {
          width: px2rem(18px);
          height: px2rem(16px);
          margin-right: 4px;

          @include media-query-down(1280px) {
            width: px2rem(12px);
            height: px2rem(12px);
          }

          @include media-query-down(768px) {
            width: px2rem(18px);
            height: px2rem(16px);
          }
        }
      }

      &-discount {
        font-size: px2rem(12px);
        color: #272f38;
        display: flex;
        align-items: center;
        height: px2rem(16px);

        .title {
          @include media-query-down(768px) {
            letter-spacing: -1px;
          }
        }
      }
    }

    .icon-info-small {
      width: px2rem(15px);
      height: px2rem(15px);
      margin-left: px2rem(5px);

      @include media-query-down(768px) {
        margin-left: px2rem(3px);
      }
    }
  }

  .product-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: px2rem(20px);

    color: #fff;
    font-size: px2rem(12px);

    // background: -webkit-linear-gradient(right, #428c85, #00645a, #00645a, #428c85);
    // background: -o-linear-gradient(right, #428c85, #00645a, #00645a, #428c85);
    // background: -moz-linear-gradient(right, #428c85, #00645a, #00645a, #428c85);
    // background: linear-gradient(right, #428c85, #00645a, #00645a, #428c85);

    position: absolute;
    width: 100%;
    @include media-query-between(768px, 1280px) {
      height: px2rem(13px);
    }

    &__p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @include media-query-down(1280px) {
        font-size: 12px;
        line-height: px2rem(10px);
      }
      @include media-query-down(768px) {
        letter-spacing: -1px;
      }
    }
  }
}